{% extends 'base.html.twig' %}


{% block body %}
<div class="carousel-inner border-bottom border-dark">
    <div class="carousel-item active">
      <img src="https://www.indy.fr/wp-content/uploads/featured-grand-livre-independant-V2-1170x511.jpg" class="d-block w-100" alt="Image de plusieurs livres posés les un sur les autres">
      <div class="carousel-caption d-none d-md-block">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-8"><h1 class="text-dark">Bienvenue sur notre bibliothèque !</h1></div>
            </div>
            <div class="row justify-content-md-center mb-2">
                {% if app.user %}
                    <h1>{{app.user.username}}</h1>
                {% else %}
                <div class="col-1 me-4"><a href="/connexion" class="btn btn-primary">Connexion</a></div>
                <div class="col-1"><a href="/inscription" class="btn btn-secondary">Inscription</a></div>
                {% endif %}
            </div>
        </div>      
        <p class="text-dark">Site numéro un d'achat et de lecture de livre en ligne.</p>
      </div>
    </div>
</div>
    <div class="container mt-2">
        <div class="row">
            <div class="col">
                <h1><i class="bi bi-book-half"></i> Dernier arrivage</h1>
            </div>
            <div  class="col">
                <h1><i class="bi bi-bag-fill"></i> Les plus vendu</h1>
            </div>
            <div  class="col">
                <h1><i class="bi bi-book"></i> Les plus lu</h1>
            </div>
        </div>
    </div>
{% endblock %}
